*{
    margin: 0;
    padding: 0;
    
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
   grid-column-end: auto;
    padding: 10px;
}
.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 39px;
    font-size: 20px;
    
    
}
.websection{
    
    padding: 60px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
h3{
    font-size: 25px;
    margin: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.lead{
    margin-left: 20px;
    font-size: 20px;
}


